<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th:"http://www.thymeleaf.org">
    <head>
        <title>Taco CLoud</title>
    </head>
    <body>
        <form method="POST" th:action="@{/orders}" th:object="${tacoOrder}">
            <h1>Order your Taco Creations</h1>
            <img th:src="@{/images/taco.png}"/>
        <h3>Current order:</h3>
        <a th:href="@{/design}">Design another Taco!</a>
        <ul>
            <li th:each="taco : ${tacoOrder.tacos}">
                <span th:text="${taco.name}">placeholder taco name</span>
            </li>
        </ul>
        <h3>Delivery information:</h3>
        <label for="deliveryName">Name:</label>
        <input type="text" id="deliveryName" th:field="*{deliveryName}"/>
        <label for="deliveryStreet">Street:</label>
        <input type="text" id="deliveryStreet" th:field="*{deliveryStreet}"/>
        <label for="deliveryCity">City:</label>
        <input type="text" id="deliveryCity" th:field="*{deliveryCity}"/>
        <label for="deliveryState">State:</label>
        <input type="text" id="deliveryState" th:field="*{deliveryState}"/>
        <label for="deliveryZip">Zip Code:</label>
        <input type="text" id="deliveryZip" th:field="*{deliveryZip}"/>

        <h3>Payment information:</h3>
        <label for="ccNumber">Credit Card Number:</label>
        <input type="text" id="ccNumber" th:field="*{ccNumber}"/>
        <span th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}">CC number error</span>
        
        <label for="ccExpiration">Expiration Date:</label>
        <input type="text" id="ccExpiration" th:field="*{ccExpiration}"/>
        <label for="ccCVV">CVV:</label>
        <input type="text" id="ccCVV" th:field="*{ccCVV}"/>
        <input type="submit" value="Submit Order"/>
    </body>
</html>